@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');


.jumbotron{
    background-color: rgba(255, 255, 255, 0.406);
    

.jumbotron {
    background-color: rgba(255, 255, 255, 0.406);


    background-size: cover;
    margin: 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}


h1{
    color: red;
}

.btn{
    font-family: "Kranky",serif;
}
